<div class="main-container">
  <!-- Observable -->
  <div class="multi-row-container">
    <div class="row">
      <label>Simple Observable</label>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>インターバル時間（秒）</mat-label>
        <input matInput type="number" [(ngModel)]="service.waitInterval" placeholder="Wait interval seconds">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="isMultiSubscribing" [disabled]="simpleObservableState() === 1">マルチ</mat-slide-toggle>
      <button mat-stroked-button type="button" [disabled]="simpleObservableState() === 1" (click)="onClickStartSimpleObserve()">サブスクライブ開始</button>
      <button mat-stroked-button type="button" [disabled]="simpleObservableState() === 1" (click)="onClickStartSimpleObserve(true)">+ エラー発生 Ver</button>
    </div>
    <div class="row">
      @if (simpleObservableState() === 1) {
        <img src="assets/images/speak-man.png" alt="speake-man">
      } @else if (simpleObservableState() === 99) {
        <img src="assets/images/out-of-order.png" alt="out of order">
        <img src="assets/images/wait-man.png" alt="wait-man">
      } @else {
        <img src="assets/images/wait-man.png" alt="wait-man">
      }
      <div class="message-container">
        <label>{{ simpleObserveText() }}</label>
        @if (isMultiSubscribing()) {
          <label>{{ anotherSimpleObserveText() }}</label>
        }
      </div>
    </div>
  </div>
  <!-- Subject -->
  <div class="multi-row-container">
    <div class="row">
      <label>Simple Subject</label>
    </div>
    <div class="row">
      <button mat-stroked-button type="button" (click)="onClickStartSubscribeSimpleSubject()">サブスクライブ開始</button>
      <mat-form-field class="input-message-field">
        <input matInput type="text" [(ngModel)]="simpleSubjectInputMessagge" placeholder="言って欲しいこと">
      </mat-form-field>
      <button mat-stroked-button type="button" (click)="onClickSendMessageToSimpleSubject()">送信</button>
      <button mat-stroked-button type="button" (click)="onClickGenerateErrorToSimpleSubject()">エラー</button>
      <button mat-stroked-button type="button" (click)="onClickFinishSimpleSubject()">終了</button>
    </div>
    <div class="row">
      @if (simpleSubjectState() === 1) {
        <img src="assets/images/speak-woman.png" alt="speake-woman">
      } @else if (simpleSubjectState() === 2) {
        <img src="assets/images/finished.png" alt="vacancy">
      } @else if (simpleSubjectState() === 99) {
        <img src="assets/images/out-of-order.png" alt="out of order">
      } @else {
        <img src="assets/images/wait-woman.png" alt="wait-woman">
      }
      <label>{{ simpleSubjectText() }}</label>
    </div>
  </div>
  
  <!-- Async Pipe -->
  @defer {
    <div class="multi-row-container">
      <div class="row">
        <label>Async Pipe</label>
      </div>
      <div class="row">
        <label>└>「{{ simpleSubject$ | async }}」</label>
      </div>
    </div>
  }

  <!-- BehaviorSubject -->
  @defer {
    <div class="multi-row-container">
      <div class="row">
        <label>BehaviorSubject</label>
      </div>
      <div class="row">
        <button mat-stroked-button type="button" (click)="onClickStartSubscribeBehaviorSubject()">サブスクライブ開始</button>
        <mat-form-field class="input-message-field">
          <input matInput type="text" [(ngModel)]="behaviorSubjectInputMessagge" placeholder="言って欲しいこと">
        </mat-form-field>
        <button mat-stroked-button type="button" (click)="onClickSendMessageToBehaviorSubject()">送信</button>
        <button mat-stroked-button type="button" (click)="onClickFinishBehaviorSubject()">終了</button>
      </div>
      <div class="row">
        @if (behaviorSubjectState() === 1) {
          <img src="assets/images/speak-assistant.png" alt="speake-assistant">
        } @else if (behaviorSubjectState() === 2) {
          <img src="assets/images/finished.png" alt="vacancy">
        } @else {
          <img src="assets/images/wait-assistant.png" alt="wait-assistant">
        }
        <label>{{ behaviorSubjectText() }}</label>
      </div>
    </div>
  }

  <!-- Pipe -->
  @defer {
    <div class="multi-row-container">
      <div class="row">
        <label>Filter Pipe operators</label>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>麦わらの一味</mat-label>
          <mat-select [value]="selectedCrewId" (selectionChange)="onSelectionCrewChange($event)">
            @for (crew of crews; track crew) {
              <mat-option [value]="crew.id">{{crew.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button type="button" (click)="onClickResetSelectedCrew()">選択リセット</button>
      </div>
      <div class="row">
        <label>選択が変更されたイベントの結果：{{ selectedCrewId() ?? 'null' }}</label>
        @switch (selectedCrewId()) {
          @case (0) {
            <img src="assets/images/luffy.png" alt="luffy">
          }
          @case (1) {
            <img src="assets/images/zoro.png" alt="zoro">
          }
          @case (2) {
            <img src="assets/images/nami.png" alt="nami">
          }
        }
      </div>
      <div class="row">
        <label>フィルタリングされたイベントの結果：{{ eventValue() ?? 'null' }}</label>
        @if (isShowTheMan()) {
          <img src="assets/images/sanji.png" alt="sanji">
        }
      </div>
    </div>
  }
</div>
